/* Move your styles here when you're ready to clean up your HTML file */
/* Don't forget to link to this file in your HTML, otherwise your styles won't show up! */

html {
  font-size: 1.2em;
}
h1, h2 {
  font-family: "Arya", "Pragati Narrow", "News Cycle", sans-serif;
}
header {
  border-bottom: 3px solid black;
}
